*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:rgb(51, 49, 49);
}

header {
    margin: auto;
    width: 725px;
    height: 60px;
    background-color:black;
    position: relative;
    display: flex;
    flex-direction: row;
}

#logo img{
    margin-left: 60px;
    width: 80px;
    filter: brightness(3);
    display: block;
}

.iconos img{
    width: 25px;
    border-radius: 20px;
    border: gray solid;
    background-color: white;
    margin: 15px 2px;
    left: 90px;
    position: relative;
    left: 50px;
}

#boton{
    text-decoration: none;
    font-size: 15px;
    width: 130px;
    height: 35px;
    margin: 12px 0px;
    position: relative;
    left: 90px;
}

#cajabusqueda{
    width: 200px;
    height: 34px;
    margin: 12px 0px;
    background-color: gray;
    position: relative;
    left: 103px;
}

.texto {
    padding: 10px 10px;
    text-align: right;
    margin: auto;
}

.encabezado{
    width: 725px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.barra_navegacion {
    width: 420px;
    height: 50px;
    background-color: black;
    margin-top: 27px;
}

.barra_navegacion li{
    display: inline-block;
    width: 13.33%;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
}

.barra_navegacion a{
    text-decoration: none;
    font-size: 12px;
    color: darkseagreen
}



#caja1 {
    margin-top: 27px;
    margin-left: 32px;
    height: 9px;
    width: 305px;
    padding: 20px;
    background-color: lawngreen;
    text-align: center;
}

#main1{
    margin: auto;
    width: 725px;
    height: 460px;
    display: flex;
    flex-direction: row;
}

#caja2grande{
    margin-top: 20px;
    width: 420px;
    height: 440px;
    background-color: gold;
}

#caja3{
    position: absolute;
    bottom: 160px;
    width: 260px;
    height: 150px;
    background-color: lightblue;
}

#caja4{
    margin: auto;
    margin-top: 20px;
    margin-left: 32px;
    width: 305px;
    height: 440px;
    background-color: dodgerblue;
}

#main2{
    margin: auto;
    width: 725px;
    height: 440px;
    display: flex;
    flex-direction: row;
}

#caja5grande{
    margin-top: 20px;
    width: 420px;
    height: 440px;
    background-color:lightcoral;
    display: flex;
    flex-direction: row;
}

#caja6{
    margin-top: 0px;
    margin-left: 0px;
    width: 220px;
    background-color: midnightblue;
}

.barra1{
    margin:auto;
    height: 35px;
    width: 220px;
    background-color: black;
}

.barra2{
    margin:auto;
    height: 35px;
    width: 220px;
    position: relative;
    top: 370px;
    background-color: black;
    
}


#caja9{
    margin: auto;
    margin-top: 20px;
    margin-left: 32px;
    width: 305px;
    height: 440px;
    background-color: chartreuse;
}

#barra_navegacion2 {
    margin: auto;
    margin-top: 50px;
    width: 725px;
    height: 60px;
    background-color:black;
}

#barra_navegacion2 li{
    display: inline-block;
    width: 13.33%;
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #000;
    text-align: center;
    color: #fff;
}

#barra_navegacion2 a{
    text-decoration: none;
    font-size: 12px;
    color: darkseagreen
}
